@use 'resets';
$spacer: 1em;

html {
  overflow-x: hidden;
}
body {
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: $spacer;
  text-align: center;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  display: grid;
  @media (min-width: 470px) {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
  @media (min-width: 850px) {
    background-image: url(../../assets/home/background-home-desktop.jpg);
    padding: 3 * $spacer 2 * $spacer 2 * $spacer;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 470px) {
    align-items: start;
  }
  @media (min-width: 850px) {
    align-items: center;
    height: max-content;
  }
  img {
    width: min(10%, 35px);
  }
  .line {
    @media (min-width: 850px) {
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #fff;
      inset: $spacer * 4.1 0 auto 10%;
      opacity: 0.25;
    }
  }
  .nav {
    display: grid;
    align-content: start;
    background-color: transparent;
    backdrop-filter: blur(12px);
    position: absolute;
    inset: 0 -100% 0 auto;
    color: #fff;
    text-align: start;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    gap: $spacer * 1.5;
    width: max(150px, 70%);
    transition: inset 200ms linear;
    padding-top: $spacer * 6;

    @media (min-width: 470px) {
      inset: 0 0 auto auto;
      grid-auto-flow: column;
      padding-inline: $spacer;
      padding-top: 0;
      width: unset;
      background-color: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
    }
    @media (min-width: 850px) {
      inset: $spacer * 2 0 auto auto;
      gap: $spacer * 2.5;
      padding-inline: $spacer * 5 $spacer * 8;
    }
    p {
      width: 80%;
      margin-left: auto;
      position: relative;
      letter-spacing: 2.7px;
      cursor: pointer;
      @media (min-width: 470px) {
        width: unset;
        padding-block: $spacer * 1.5;
      }
    }
    p.active::after {
      content: '';
      position: absolute;
      inset: 0 0 0 auto;
      width: 3px;
      background-color: #fff;
      @media (min-width: 470px) {
        inset: auto 0 0 0;
        width: 80%;
        margin-inline: auto;
        height: 3px;
      }
    }
    .number {
      font-weight: 700;
      @media (min-width: 470px) {
        display: none;
      }
      @media (min-width: 850px) {
        display: unset;
      }
    }
  }
  #nav-toggle {
    width: 23px;
    height: 17px;
    position: relative;
    z-index: 5;

    @media (min-width: 470px) {
      display: none;
    }
  }
}
.nav-line {
  position: absolute;
  inset: 0 auto auto auto;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: transform 300ms linear, inset 300ms linear, opacity 100ms linear;

  &-2 {
    top: 50%;
  }
  &-3 {
    top: auto;
    bottom: 0;
    transform: translateY(50%);
  }
}
.nav-toggle-active {
  .nav-line-1 {
    transform: rotate(135deg);
    inset: 50% auto auto auto;
  }
  .nav-line-2 {
    opacity: 0;
    inset: 50% auto auto auto;
  }
  .nav-line-3 {
    top: 50%;
    transform: rotate(-135deg);
  }
}
main {
  margin-top: auto;
  @media (min-width: 850px) {
    display: grid;
    grid-template-columns: 60% 40%;
    width: min(90%, 1050px);
    margin-inline: auto;
  }
}
section {
  display: flex;
  flex-direction: column;
  margin-top: 2 * $spacer;
  @media (min-width: 470px) {
    padding-top: $spacer * 2;
  }
  @media (min-width: 850px) {
    text-align: start;
  }

  h1,
  .travel {
    text-transform: uppercase;
    font-weight: 400;
  }
  h1 {
    font-family: 'Bellefair', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
    margin-block: $spacer * 0.2 $spacer * 0.15;
    @media (min-width: 470px) {
      font-size: 5rem;
    }
    @media (min-width: 850px) {
      font-size: 7rem;
      margin-block: 0;
    }
  }
  .travel {
    font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
    order: -1;
    color: #d0d6f9;
    letter-spacing: 2.5px;
  }
  .text-body {
    font-family: 'Barlow', Nunito, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 2;
    color: #d0d6f9;
    max-width: 485px;
    margin-inline: auto;
    @media (min-width: 850px) {
      margin-inline: unset;
      max-width: 400px;
      font-size: 1.2rem;
    }
  }
}
.explore {
  font-family: 'Bellefair', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  padding: 20px;
  width: max-content;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  color: #0b0d17;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  margin-top: $spacer * 2;
  cursor: pointer;

  @media (min-width: 850px) {
    font-size: 2rem;
    padding: 10px;
    height: 230px;
    margin-top: auto;
    margin-inline: auto 0;
  }
}
.nav-toggle-active + .destination {
  inset: 0 0 0 auto;
}
