@use 'resets';
$spacer: 1em;
@mixin gridoverlap {
  display: grid;
  grid-template: 1fr / 1fr;
}
@mixin gridoverlapchild {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
  transition: background-image 300ms linear;
  &.crew-background {
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
  }
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: $spacer;
  color: #fff;
  @media (min-width: 470px) {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    &.crew-background {
      background-image: url(../../assets/crew/background-crew-tablet.jpg);
    }
    padding-bottom: 0;
  }
  @media (min-width: 850px) {
    display: grid;
    padding: 3 * $spacer 2 * $spacer 0;
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    &.crew-background {
      background-image: url(../../assets/crew/background-crew-desktop.jpg);
    }
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 470px) {
    align-items: start;
  }
  @media (min-width: 850px) {
    align-items: center;
    height: max-content;
  }
  img {
    width: min(10%, 35px);
  }
  .line {
    @media (min-width: 850px) {
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #fff;
      inset: $spacer * 4.1 0 auto 10%;
      opacity: 0.25;
    }
  }
  .nav {
    display: grid;
    align-content: start;
    background-color: transparent;
    backdrop-filter: blur(12px);
    position: absolute;
    inset: 0 -100% 0 auto;
    color: #fff;
    text-align: start;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    gap: $spacer * 1.5;
    width: max(150px, 70%);
    transition: inset 200ms linear;
    padding-top: $spacer * 6;
    z-index: 1;

    @media (min-width: 470px) {
      inset: 0 0 auto auto;
      grid-auto-flow: column;
      padding-inline: $spacer;
      padding-top: 0;
      width: unset;
      background-color: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
    }
    @media (min-width: 850px) {
      inset: $spacer * 2 0 auto auto;
      gap: $spacer * 2.5;
      padding-inline: $spacer * 5 $spacer * 8;
    }
    p {
      width: 80%;
      margin-left: auto;
      position: relative;
      letter-spacing: 2.7px;
      cursor: pointer;
      @media (min-width: 470px) {
        width: unset;
        padding-block: $spacer * 1.5;
      }
    }
    p.active::after {
      content: '';
      position: absolute;
      inset: 0 0 0 auto;
      width: 3px;
      background-color: #fff;
      @media (min-width: 470px) {
        inset: auto 0 0 0;
        width: 80%;
        margin-inline: auto;
        height: 3px;
      }
    }
    .number {
      font-weight: 700;
      @media (min-width: 470px) {
        display: none;
      }
      @media (min-width: 850px) {
        display: unset;
      }
    }
  }
  #nav-toggle {
    width: 23px;
    height: 17px;
    position: relative;
    z-index: 5;

    @media (min-width: 470px) {
      display: none;
    }
  }
}
.nav-line {
  position: absolute;
  inset: 0 auto auto auto;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: transform 300ms linear, inset 300ms linear, opacity 100ms linear;

  &-2 {
    top: 50%;
  }
  &-3 {
    top: auto;
    bottom: 0;
    transform: translateY(50%);
  }
}
.nav-toggle-active {
  .nav-line-1 {
    transform: rotate(135deg);
    inset: 50% auto auto auto;
  }
  .nav-line-2 {
    opacity: 0;
    inset: 50% auto auto auto;
  }
  .nav-line-3 {
    top: 50%;
    transform: rotate(-135deg);
  }
}
.nav-toggle-active + .nav {
  inset: 0 0 0 auto;
}
.subheader-container {
  font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  @include gridoverlap();
  margin-block: $spacer $spacer * 1.5;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  @media (min-width: 470px) {
    margin-top: $spacer * 2;
    text-align: start;
  }

  .sub-header-01,
  .sub-header-02,
  .sub-header-03 {
    @include gridoverlapchild();
    @media (min-width: 850px) {
      font-size: 1.25rem;
    }
  }
  .sub-header-01,
  .sub-header-03 {
    display: none;
  }
  .number {
    font-weight: 700;
    opacity: 0.25;
  }
}
main {
  @media (min-width: 850px) {
    display: grid;
  }
}
.destination {
  max-width: 490px;
  margin-inline: auto;

  &__image-container {
    @include gridoverlap();
    img {
      width: 60%;
      margin-inline: auto;
      @include gridoverlapchild();
      opacity: 0;
      &.active {
        opacity: 1;
      }
      @media (min-width: 850px) {
        width: 70%;
      }
    }
  }
  &__nav {
    margin-block: $spacer * 1.5 $spacer;
    ul {
      display: flex;
      list-style-type: none;
      width: max-content;
      text-transform: uppercase;
      gap: $spacer * 2;
      margin-inline: auto;
      font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 400;
      font-size: 1.1rem;
      color: #d0d6f9;
      li {
        cursor: pointer;
        position: relative;
        &.active {
          color: #fff;
        }
        &.active::after {
          content: '';
          position: absolute;
          inset: auto 0 -8px 0;
          height: 3px;
          width: 80%;
          margin-inline: auto;
          background-color: #fff;
        }
      }
      @media (min-width: 850px) {
        margin-inline: 0 auto;
      }
    }
  }
  &__desc-container {
    text-align: center;
    font-weight: 400;
    @include gridoverlap();
    @media (min-width: 850px) {
      text-align: start;
    }

    .destination__desc {
      @include gridoverlapchild();
      display: none;
      &.active {
        display: block;
      }
      &__name {
        font-size: 3rem;
        font-family: 'Bellefair', Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        @media (min-width: 850px) {
          font-size: 5rem;
        }
      }
      &__text {
        font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
        color: #d0d6f9;
        font-size: 1.1rem;
      }
      .line {
        height: 1px;
        background-color: #383b4b;
        margin-block: $spacer;
        @media (min-width: 850px) {
          margin-block: $spacer * 2;
        }
      }
      &__travel {
        .travel-time {
          margin-top: $spacer * 0.5;
          @media (min-width: 850px) {
            margin-top: 0;
          }
        }
        p {
          text-transform: uppercase;
          &:nth-child(1) {
            font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
            color: #d0d6f9;
          }
          &:nth-child(2) {
            font-family: 'Bellefair', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.5rem;
            margin-top: $spacer * 0.1;
          }
        }
        @media (min-width: 850px) {
          display: flex;
          gap: $spacer * 2;
        }
      }
    }
  }
  @media (min-width: 850px) {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    max-width: unset;
  }
}
.crew {
  display: flex;
  flex-direction: column;
  max-width: 466px;
  margin-inline: auto;
  @media (min-width: 850px) {
    display: grid;
    grid-template: auto 1fr / repeat(2, 1fr);
    grid-template-areas: 'desc img' 'nav img';
    margin-bottom: 0;
    max-width: unset;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  &__img-container {
    @extend .destination__image-container;
    border-bottom: 1px solid #383b4b;
    order: -2;
    @media (min-width: 470px) {
      order: 3;
      border-bottom: none;
      margin-top: $spacer;
    }
    @media (min-width: 850px) {
      grid-area: img;
      position: unset;
    }

    img {
      display: none;
      max-width: 299px;
      @media (min-width: 850px) {
        max-width: 420px;
      }
      &.active {
        display: block;
      }
    }
  }
  &__desc-container {
    @include gridoverlap();
    @media (min-width: 850px) {
      grid-area: desc;
      max-width: 440px;
    }

    .crew__desc {
      text-align: center;
      margin-bottom: $spacer * 1.5;
      display: none;
      @media (min-width: 850px) {
        text-align: start;
      }
      &.active {
        display: block;
      }
      @include gridoverlapchild();

      .role {
        font-family: 'Bellefair', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        opacity: 0.5;
        text-transform: uppercase;
      }
      .name {
        @extend .role;
        opacity: 1;
        font-size: 1.4rem;
        margin-block: $spacer * 0.2 $spacer * 0.3;
        @media (min-width: 850px) {
          font-size: 2rem;
        }
      }
      &__text {
        color: #d0d6f9;
        font-family: 'Barlow', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        @media (min-width: 850px) {
          font-size: 1.15rem;
        }
        @media (min-width: 1024px) {
          padding-right: 10%;
        }
      }
    }
  }
  &__nav {
    display: flex;
    width: max-content;
    gap: $spacer;
    order: -1;
    margin: $spacer * 1.5 auto;
    @media (min-width: 470px) {
      order: unset;
      margin-block: 0;
    }
    @media (min-width: 850px) {
      grid-area: nav;
      margin-inline: 0;
    }

    &__item {
      width: 10px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      opacity: 0.17;
      background-color: #fff;
      cursor: pointer;
      &.active {
        opacity: 1;
      }
    }
  }
}
.destination,
.technology,
.crew {
  &.unactive {
    display: none;
  }
}
